<% include header %>
<div class="mainContent">
    <div class="blogitem">

        <% post.link = "/posts/" + post._id %>
        <article>
            <div class="postDetail">
                <h2 class="postTitle"><a href="javascript:;"><%= post.title %></a></h2>
                <div class="postOption">
                    <p>
                        <span><%= post.meta.updateAt.toISOString().replace(/T.+$/,'')%></span>
                        <span>发布</span>
                        <a href="/posts/edit/<%= post._id %>">编辑</a>
                        <a href="javascript:;" id="btnDelete">删除</a>
                    </p>
                </div>
            </div>
            <ul class="text">
                <%- post.content %>
            </ul>
        </article> 
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script>
    $(function(){
        $('#btnDelete').on('click',function(){
            $.ajax({
                url:"/posts/delete"  ,
                method:"POST",
                data:"id=<%= post._id %>"
            }).done(function(res){
                if(res.code === "S_OK"){
                    window.location.href = "/";
                }
            }).fail(function(){
            })
        });
    });
</script>
<% include footer %>
